<html> 
<body> 
	<h3>Income Prediction Form</h3> 

<div> 
<form action="/predict_api" method="POST"> 
    
	<label for="p1">p1</label> 
	<input type="number" step=0.001 id="p1" name="p1"> 
	<br> 
    	<label for="p2">p2</label> 
	<input type="number" step=0.001 id="p2" name="p2"> 
	<br>

    	<label for="p3">p3</label> 
	<input type="number" step=0.001 id="p3" name="p3"> 
	<br> 
    	<label for="p4">p4</label> 
	<input type="number" step=0.001 id="p4" name="p4"> 
	<br> 
    
 

	<input type="submit" value="Submit"> 
</form> 
</div> 
</body> 
</html> 
